@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
:root {
  --green:#02C8A7;
  --black:#282828;
  --greenSecondary:#C0DFCB;
  --red:#FF6A5C;
  --white:#fff;
  --border: .2rem solid var(--white);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--greenSecondary);
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: var(--border);
  color: var(--white);
  cursor: pointer;
  background: var(--black);
  border-radius: 10rem;
  font-size: 1.7rem;
  padding: 1.5rem;
}

.btn i {
  padding-left: 1.5rem;
}

.btn:hover .slider-icon1 {
  -webkit-transform: translateX(0.45rem);
          transform: translateX(0.45rem);
}

.btn:hover {
  background: var(--red);
  color: var(--white);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
}

.header.active {
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.header .logo {
  margin-right: auto;
}

.header .logo .image-logo {
  width: 15rem;
}

.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--green);
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons a:hover,
.header .icons div:hover {
  color: var(--green);
}

.header #menu-btn {
  display: none;
}

.heading {
  margin: 2rem;
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color: var(--black);
  position: relative;
  letter-spacing: .2rem;
}

.heading::before, .heading::after {
  content: '';
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-top: 0.4rem solid var(--red);
  border-left: 0.4rem solid var(--red);
}

.heading::before {
  top: 5.8rem;
  left: -2rem;
}

.heading::after {
  bottom: -.5rem;
  right: -2rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover !important;
  background-position: center !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 9%;
}

.home .box.second {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home .box .content {
  width: 50rem;
}

.home .box .content.second-content {
  color: var(--white);
}

.home .box .content span {
  font-size: 4rem;
  color: var(--white);
}

.home .box .content h3 {
  font-size: 6rem;
  color: var(--green);
  padding-top: .5rem;
  text-transform: uppercase;
}

.home .box .content p {
  line-height: 2;
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem 0;
}

.home .box .content.third-content {
  color: var(--black);
}

.home .box .content .third-content {
  color: var(--black);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: var(--white);
}

.about {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 4rem;
}

.about .row .content-2 {
  text-align: left;
}

.about .row .content-2 h3 {
  font-size: 3rem;
  color: var(--green);
}

.about .row .content-2 p {
  font-size: 1.5rem;
  color: var(--black);
  padding: 1rem 0;
  text-transform: none;
}

.about .row .image img {
  width: 40vw;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home .box {
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right !important;
  }
  .home .box:second {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
  .home .box .content-left {
    margin-left: 50%;
    background-position: right !important;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: var(--white);
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: var(--red);
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    padding: 0 2rem;
  }
  .about .row .image img {
    width: 100vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .box .content-left {
    margin-left: 0;
    background-position: right !important;
  }
}
/*# sourceMappingURL=styles.css.map */